.Header {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: crimson;
  color: gold;
  text-align: center;
  margin: 20px;
  font-size: 20px;
}

.Header h1 {
  width: 1475px;
}

.About {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightgray;
  color: black;
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-size: 15px;
}

.About h2, p{
  width: 1475px;
}

.FoodCard {
  font-family: 'Courier New', Courier, monospace;
  background-color: lightcoral;
  color: black;
  text-align: center;
  width: 250px;
  height: 400px;
  margin: 20px;
  padding: 5px;
}

.Coral {
  display: flex;
  gap: 10px;
}