.Header {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: crimson;
  color: gold;
  text-align: center;
  margin: 20px;
  font-size: 20px;
  width: 1475px;
}

.Header h1 {
  width: 1475px;
}

.About {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: orange;
  color: black;
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-size: 15px;
  width: 1475px;
}

.About h2, p{
  width: 1475px;
}

.FoodCard {
  font-family: 'Courier New', Courier, monospace;
  background-color: cornsilk;
  color: black;
  width: 250px;
  height: 400px;
  margin: 20px;
  padding: 10px;
  overflow: auto;
}

.FoodCard h3{
  text-align: center;
  color: blue;
}

.FoodCard p{
  display: inline-block;
  font-size: 15px;
}

.Coral {
  display: flex;
  gap: 10px;
}

.food {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

.filter {
  background-color: limegreen;
  margin: 20px;
  padding: 10px;
  width: 1475px;
  color: black;
}

.search {
  padding: 10px;
}

.categories {
  padding: 10px;
  color: black;
}

body {
  background-image: url("./pictures/HoliColors.png");
  width: 5800px;
}